:is(.vp-external-link-icon,.vp-doc a[href*="://"],.vp-doc a[target=_blank]):not(:is(.no-icon,svg a,:has(img,svg))):after {
    --icon: url("https://hi.mcenahle.page/icons/external-link.svg") !important;
    width: 14px;
    height: 14px;
}

@font-face {
  font-family: 'Tirra';
  src: url('/Tirra-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tirra';
  src: url('/Tirra-Bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

body {
    font-family: "Tirra", sans-serif !important;
}